@using BussinessObject;
<html>

<head>
    <!-- Load Base -->
    @RenderPage("_Base.cshtml")
</head>

<body>
    <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="col s12">
                <p class="flow-text">Some info about the Debate</p>
            </div>
        </div>
    </div>

</body>

</html>