@using BussinessObject;
<html>

<head>
    <!-- Load Base -->
    @RenderPage("Base.cshtml")
</head>

<body>
    <!-- Content -->
    <div class="container">
        <h4>Rankings</h4>
        <table id="rank" class="bordered">
            <thead>
                <tr>
                    <th data-field="team">Team</th>
                    <th data-field="score">Accumulated Scores</th>
                    <th data-field="ratio">Win to Match Ratio</th>
                    <th data-field="matches">Number of Matches</th>
                </tr>
            </thead>

            <tbody>
                @{
                    Rank rank = new Rank();
                    for (int i = 0; i < rank.TeamNames.Count; i++)
                    {
                        decimal ratio = (decimal)rank.TeamWins[i] / rank.TeamTotalMatches[i];
                        int matches = rank.TeamTotalMatches[i];
                        if (matches == -1)
                        {
                            matches = 0;
                        }
                        ratio *= 100;
                        int percentage = (int)(ratio - (ratio % 1));
                        <tr>
                            <td>@rank.TeamNames[i]</td>
                            <td>@rank.TeamScores[i]</td>
                            <td>@percentage %</td>
                            <td>@matches</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</body>

</html>